.column-layout {
    display: grid;
    /* 1 */
    grid-template-columns: 1fr 1fr 1fr 3fr;
    /* 2 */
    grid-template-rows: 100vh;
    /* 3 */
}

.column-list {
    height: 100%;
    overflow-y: auto;
}

.sessions-list {}

.column-title {
    font-size: 35px;

}

.sessions {
    background: #F6E39E !important;
}

.topics {
    background: #FFFEE8 !important;
}

.message {
    height: 100%;
    overflow-y: scroll;
}

.messages {
    background: #E1EABF !important;
}

.topics-list {}

.messages-list {
    padding-bottom: 100px;
}


/*
 *  STYLE 3
 */

 .scroll-style::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     background-color: #F5F5F5;
 }
 
 .scroll-style::-webkit-scrollbar
 {
     width: 6px;
     background-color: #F5F5F5;
 }
 
 .scroll-style::-webkit-scrollbar-thumb
 {
     background-color: #000000;
 }