.column-layout {
    display: grid;
    /* 1 */
    grid-template-columns: 1fr 1fr 1fr 3fr;
    /* 2 */
    grid-template-rows: 100vh;
    /* 3 */
}

.column-list {
    height: 100%;
    overflow-y: auto;
}

.sessions-list {}

.column-title {}

.sessions {
    background: #F6E39E !important;
}

.topics {
    background: #FFFEE8 !important;
}

.message {
    height: 100%;
    overflow-y: scroll;
}

.messages {
    background: #E1EABF !important;
}

.topics-list {}

.messages-list {
    padding-bottom: 100px;
}